body {
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-color: #6ec5fb;
	padding-top: 70px;
}

h1 {
	color: green;
	text-shadow: 10px 8px 8px greenyellow;
}

h2 {
	color: #66B366;
}

p#para1 {
	color: #3f0760;
	font-size: 12pt;
	font-family: Tahoma;
}

p#para2 {
	color: #0f0217;
	font-size: 16pt;
	font-family: Georgia;
}
div#codergirl {
	width: 260px;
	height: 60%;
	cursor: pointer;
	cursor: hand;
    float: right;
}

.whiteBg {
	background-color: white;
}

div#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 5px inset greenyellow;
	padding: 5%;
    height: 40%;
}

div#grass {
    position:fixed;
    left:0;
    bottom:0;
    height:200px;
    width:100%;
    background-image:url('grass.jpg');
    background-size: 200px 200px;
}

div#grass img {
   position: absolute;
   bottom: 0;
}
div#birdDiv {
	position: absolute;
	top: 75px;
	left: 0;

	-webkit-animation: moveRight 5s linear 0,
						moveLeft 5s linear 5s;
	animation:  moveRight 5s,
				moveLeft 5s linear 5s;
}

@-webkit-keyframes moveRight {
    from {
    	left:0;
		top: 0;
    }
    to {
    	left:90%;
		top: 50%;
    }
}

@-webkit-keyframes moveLeft {
    from {
    	left:100%;
		transform: rotateY(180deg);
		top: 50%
    }
    to {
    	left: 0;
		top: 0;
		transform: rotateY(180deg);
    }
}

#bird {
	height: 120px;
	width: 120px;
}

.button {
	cursor: pointer;
}

.hidden {
    display: none;
}















			