body{
background-color:#c471f5;
}

h1{
color:#8271f5;
}

h2{
color:#f571e4;
}

p#para1{
color:#3f0760;
font-size:12;
font-family:Tahoma;
}

p#para2{
color:#0f0217;
font-size:16;
font-family:Georgia;
}
div#codergirl{
width:40%;
height:60%;
}



			