body{
background-color:white;
font-family:Arial, sans-serif;
font-weight:400;
}

div.pianoTop{
width:500px;
height:800px;
background-color:red;
border-style:solid;
border-color:black;
position:relative;
top:100px;
}

div.rockStar{
width:300px;
height:200px;
background-color:blue;
border-style:solid;
border-color:white;
position:absolute;
left:100px;
top:150px;
}

div.rockStar2{
width:300px;
height:200px;
background-color:green;
border-style:solid;
border-color:yellow;
position:absolute;
left:100px;
top:300px;

}
