body{
 background-color:#cc0AC9;
 color:white;
}
h1{
color:#20630D;
}
p{
 color:blue;
 font-size:12px;
 font-family:Georgia;
 
}
iframe{
frameborder:1;
}
img{
height:150px;
width:200px;
}
div#container{
margin-left:auto;
margin-right:auto;
width:960px;
background-color:blue;
}

div#justinVideo{
margin:100px 200px 200px 100px;
border-top:5px dotted red;
border-right:5px solid green;
border-bottom:5px dashed orange;
border-left:5px solid green;
}

